body{
    background: white;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
body > header{
    height: 100px;
    width: 110%;
    background: firebrick;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
#logo{
    height: 50px;
    margin: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo>*{
    margin: 0 0 0;
}
#logo h1{
    font-weight: bold;
    text-transform: uppercase;
}
#logo .info{
    font-size: 0.85em;
}
header {
    background-color: grey;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
    font-size: 18px;
}

nav a:hover {
    color: firebrick;

}
}
.prvni{
    border-radius: 30px;
    background: lightblue;
    opacity: 75%;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.první-text{
    margin: 100px;
    width: 85%;
    text-align: center;
}
.druhy{
    border-radius: 30px;
    background-color: white;
    opacity: 70%;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.druhy-text{
    margin: 20px;
    width: 50%;
    color: black;
}
.druhy-obr{
    margin: auto;


}
.druhy-obr img{
    width: 500px;
    heigh: 10px;
    margin-right: 100px;
    margin-left: -200px;
}
div{
    display: flex;
}

h2{
    text-align: center;
}
tr{
    text-align: center;
}
P{
    font-size: xxx-large;
}
